@font-face {
  font-family: 'deep-font';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v11/-g5pDUSRgvxvOl5u-a_WHw.woff) format('woff');
}
